body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.section-one, 
.section-two, 
.section-three,
.section-four {
    display:flex;
    flex-direction: column;
}

.section-one,
footer {
    background-color: #1F2937;
}

.section-one {
    padding: 16px;
    padding-bottom: 50px;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    color: #F9FAF8;
    font-size: 24px;
}

.right-links ul {
    display: flex;
    gap: 10px;
}

.right-links a {
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}

.left-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: #F9FAF8;
    gap: 10px;
}

.left-content button {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color:#F9FAF8;
    border-radius: 10px;
    border-color: transparent;
    max-width: 150px;
}

.right-content {
    background-color: gray;
    color: #F9FAF8;
    height: 200px;
    width: 400px;
    text-align: center;
    align-content: center;
}

.section-two {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-bottom: 50px;
    flex-shrink: 1;
}

.section-two-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex:1;
}

.boxes {
    display: flex;
    gap: 30px;
}

.sub-box {
    font-size: 14px;
    max-width: 160px;
}

.square {
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 10px;
    display: flex;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}

.quote-box {
    max-width: 500px;
}

.quote {
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
}

.speaker {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 700;
    margin-top: 10px;
}

.section-four {
    background-color: #F9FAF8;
    padding: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blue-container {
    border:solid #3882F6;
    border-radius: 5px;
    background-color: #3882F6;
    color:#F9FAF8;
    display: flex;
    padding: 16px;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}

.call-to-action {
    max-width: 300px;
}

.blue-container button {
    background-color: #3882F6;
    border: solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    width: 210px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 40px;
}